@mixin button {
  width: 176px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: $darkcolor;
  border: 0;
  /* font */
  @include paragraph1($secundarycolor-1);
  font-weight: 600;
  transition: background-color ease 1s, border ease 1s;
  &:hover {
    border: solid 3px $lightcolor;
    background-color: $lightcolor;
  }
}

.button {
  text-decoration: none;
}
