<section class="benefits">
  <h2 class="benefits__text">
    Volverse organizado se siente mejor con OPEN SPACES
  </h2>
  <include
    src="../components/item.html"
    imgname="icon_1.png"
    imgtext="otems on a table"
    title="Lo que necesitas"
    text="Una línea de productos diseñados para todos tus espacios"
  ></include>
  <include
    src="../components/item.html"
    imgname="icon_2.png"
    imgtext="symbol of recycling"
    title="Materia primas sustentables"
    text="Todos los productos con materias primas sustentables"
  ></include>
  <include
    src="../components/item.html"
    imgname="icon_3.png"
    imgtext="guide"
    title="Guía"
    text="Soporte y asesoramiento para ayudarte con tu objetivo"
  ></include>
</section>
