<footer class="footerbox">
  <div class="footerbox__ghost"></div>
    <article class="article">
      <h2 class="article__title">Tienda</h2>
      <nav>
        <ul>
          <li>
            <a  class="article__nav--item" href=" https://adalab.es">Productos</a>
          </li>
          <li><a  class="article__nav--item" href=" https://adalab.es">Cajoneras</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es">Para toda la casa</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es">Habitaciones</a></li>
        </ul>
      </nav>
    </article>
    <article class="article">
      <h2 class="article__title">Nosotros</h2>
      <nav>
        <ul>
          <li><a  class="article__nav--item" href=" https://adalab.es">Nuestra guía</a></li>
          <li><a class="article__nav--item"href=" https://adalab.es">Nuestro diseño</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es">Nuestra historia</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es">Ayuda</a></li>
        </ul>
      </nav>
    </article class="article">
    <article class="article">
      <h2 class="article__title">Contacto</h2>
      <ul>
        <li class="article__nav--item">ayuda@openspaces.com</li>
        <!-- ver si puedo llevar a mail.. -->
        <li><a class="article__nav--item" href=" https://adalab.es">Socios</a></li>
        <li>
          <a  class="article__nav--item " href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i> </a
          >
          <a  class="article__nav--item" href="https://adalab.es/" target="_blank">
            <i class="fa-brands fa-instagram"></i> </a
            >
            <a  class="article__nav--item" href="https://adalab.es/" target="_blank">
              <i class="fa-brands fa-twitter"></i> </a
            >·
        </li>
      </ul>
    </article>
  
  <a class="article__nav--item arrow" href="./index.html#header"><i class="fa-solid fa-arrow-up"></i></i></a>
  <!-- flecha scss -->
</footer>
