<footer class="footer">
  <article class="article">
    <h2 class="article__title">Tienda</h2>
    <nav>
      <ul>
        <li>
          <a class="article__link" href=" https://adalab.es">Productos</a>
        </li>
        <li><a href=" https://adalab.es">Cajoneras</a></li>
        <li><a href=" https://adalab.es">Para toda la casa</a></li>
        <li><a href=" https://adalab.es">Habitaciones</a></li>
      </ul>
    </nav>
  </article>

  <article class="article">
    <h2 class="article__title">Nosotros</h2>
    <nav>
      <ul>
        <li><a href=" https://adalab.es">Nuestra guía</a></li>
        <li><a href=" https://adalab.es">Nuestro diseño</a></li>
        <li><a href=" https://adalab.es">Nuestra historia</a></li>
        <li><a href=" https://adalab.es">Ayuda</a></li>
      </ul>
    </nav>
  </article class="article">

  <article>
    <h2 class="article__title">Contacto</h2>
    <ul>
      <li>ayuda@openspaces.com</li>
      <!-- ver si puedo llevar a mail.. -->
      <li><a href=" https://adalab.es">Socios</a></li>
    </ul>
  </article>
  <!--   images de instagram... -->
  <!-- flecha scss -->
</footer>
