<footer class="footerbox">
  <div class="footerbox__ghost"></div>
    <article class="article">
      <h2 class="article__title">Tienda</h2>
      <nav>
        <ul>
          <li>
            <a  class="article__nav--item" href=" https://adalab.es" target="_blank">Productos</a>
          </li>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Cajoneras</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Para toda la casa</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Habitaciones</a></li>
        </ul>
      </nav>
    </article>
    <article class="article">
      <h2 class="article__title">Nosotros</h2>
      <nav>
        <ul>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Nuestra guía</a></li>
          <li><a class="article__nav--item"href=" https://adalab.es" target="_blank">Nuestro diseño</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Nuestra historia</a></li>
          <li><a  class="article__nav--item" href=" https://adalab.es" target="_blank">Ayuda</a></li>
        </ul>
      </nav>
    </article class="article">
    <article class="article">
      <h2 class="article__title">Contacto</h2>
      <nav>
        <ul>
          <li> <a class="article__nav--item" href="mailto:ayuda@openspaces.com">ayuda@openspaces.com</a></li>
          <li><a class="article__nav--item" href=" https://adalab.es" target="_blank">Socios</a></li>
          <li>
            <a  class="article__nav--item " href=" https://adalab.es" target="_blank">
              <i class="fa-brands fa-linkedin-in fa-xl"></i> </a
            >
            <a  class="article__nav--item" href=" https://adalab.es" target="_blank">
              <i class="fa-brands fa-instagram fa-xl"></i> </a
              >
              <a  class="article__nav--item"href=" https://adalab.es" target="_blank">
                <i class="fa-brands fa-twitter fa-xl"></i> </a
              >·
          </li>
        </ul>
      </nav>
    </article>
  
  <a class="article__nav--item arrow" href="./index.html#header"><i class="fa-solid fa-arrow-up fa-xl" title="Volver arriba"></i></i></a>
</footer>
