<header class="header" id="header">
  <section class="menu">
    <a class="menu__burger" href="https://adalab.es/" target="_blank">
      <i class="fa-solid fa-bars"></i>
    </a>
    <div class="menu__logo">
      <a href="./index.html#header"
        ><img
          class="menu__logo--picture"
          src="./assets/images/logo.png"
          alt="logo open spaces"
          title="Ir al index de OpenSpaces"
      /></a>
    </div>
  </section>
  <section class="hero">
    <h2 class="hero__title">Disfruta creando espacios</h2>
    <a href=" https://adalab.es"
      ><button class="hero__button">Comprar ahora</button></a
    >
  </section>
</header>
