/* fonts */

@mixin title1($color) {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
}

@mixin subtitle1($color) {
  font-family: Poppins;
  font-size: 30px;
  color: $color;
}

@mixin title2($color) {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: $color;
}

@mixin title3($color) {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  color: $color;
}

@mixin paragraph1($color) {
  font-family: Poppins;
  font-size: 16px;
  color: $color;
}
@mixin paragraph2($color) {
  font-family: Poppins;
  font-size: 14px;
  color: $color;
}

@mixin link1 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  color: $secundarycolor-1;
}
