/* fonts */

@mixin title1 {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  color: #0c474b;
}

@mixin subtitle1 {
  font-family: Poppins;
  font-size: 30px;
  color: #0c474b;
}

@mixin subtitle1b {
  font-family: Poppins;
  font-size: 30px;
  color: #b6c8c9;
}
@mixin title2 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  color: #0c474b;
}

@mixin title2b {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  color: #b6c8c9;
}

@mixin paragraph1 {
  font-family: Poppins;
  font-size: 16px;
  color: #0c474b;
}

@mixin paragraph1b {
  font-family: Poppins;
  font-size: 16px;
  color: #b6c8c9;
}

@mixin title3b {
  font-family: Poppins;
  font-size: 16px;
  color: #b6c8c9;
}

@mixin title3 {
  font-family: Poppins;
  font-size: 20px;
  color: #0c474b;
}

@mixin paragraph2b {
  font-family: Poppins;
  font-size: 14px;
  color: #b6c8c9;
}

@mixin paragraph2 {
  font-family: Poppins;
  font-size: 14px;
  color: #0c474b;
}
