.benefits {
  background-color: $secundarycolor-2;
  /*   display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; */
  &__text {
    @include title2;
    text-align: center;
  }
  &__itemsbox {
    display: grid;
    justify-content: center;
    text-align: center;
  }
}

.item {
  width: 13em;
  &__img {
    width: 90px;
    height: 90px;
  }
  &__title {
    @include title3;
  }

  &__text {
    @include paragraph1;
  }
}
