.footerbox {
  padding-left: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: $darkcolor;
  height: 545px;
  padding-top: 1.25rem;

  @include tablet {
    flex-direction: row;
    height: 276px;
    padding-left: 0rem;
    align-items: flex-end;
    justify-content: space-around;
  }
  @include desktop {
    height: 393px;
  }
}

.article {
  z-index: 3;
  padding-top: 1.875rem;
  @include tablet {
    padding-top: 0rem;
    padding-bottom: 5.125rem;
  }
  @include desktop {
    padding-bottom: 8.625rem;
  }

  &__title {
    @include title3($secundarycolor-1);
    @include desktop {
      @include title2($secundarycolor-1);
    }
  }
  &__nav--item {
    text-decoration: none;
    color: $secundarycolor-1;
    @include paragraph2($secundarycolor-1);
    @include desktop {
      @include paragraph1($secundarycolor-1);
    }
  }

  .fa-brands {
    padding-right: 0.438rem;
    margin-top: 1.875rem;
    height: 1.563rem;
    width: 1.563rem;
  }
}

.arrow {
  width: 100%;
  text-align: right;
  padding-right: 1.875rem;
  margin-top: 1.25rem;
  transform: translateY(-100%);

  @include tablet {
    width: auto;
    transform: translateY(0%);
    padding-right: 0rem;
    padding-bottom: 5.125rem;
    @include desktop {
      padding-bottom: 8.625rem;
    }
  }
}
