body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.menu {
  &__burger {
    position: fixed;
    padding-left: 33px;
    padding-top: 55px;
    text-decoration: none;
    color: $darkcolor;
  }
  &__logo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 19px;
    &--picture {
      height: 96px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  flex-grow: 1;
  background: url("https://i.postimg.cc/sxY4D1Tv/header.jpg") center center
    no-repeat;
  background-size: cover;
  &__title {
    @include title2($darkcolor);
    line-height: 38px;
  }
  &__button {
    @include button;
    margin-top: 24px;
    margin-bottom: 64px;
  }
}
