body {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  @include tablet {
    min-height: 650px;
  }
}
.menu {
  z-index: 99;
  &__burger {
    position: fixed;
    padding-left: 33px;
    padding-top: 55px;
    text-decoration: none;
    color: $darkcolor;
    @include tablet {
      padding-left: 82px;
      padding-top: 75px;
    }
    @include desktop {
      display: none;
    }
  }

  &__pc {
    display: none;
    @include desktop {
      position: absolute;
      top: 76px;
      display: flex;
      padding-left: 280px;
      padding-top: 10px;
      padding-bottom: 10px;
      &--item {
        text-decoration: none;
        padding-right: 30px;
        @include paragraph1($darkcolor);
      }
    }
  }
  &__logo {
    position: absolute;
    z-index: -1;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 19px;
    &--picture {
      height: 96px;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  flex-grow: 1;
  background: url("https://i.postimg.cc/sxY4D1Tv/header.jpg") center center
    no-repeat;
  background-size: cover;

  @include tablet {
    align-items: flex-start;
    padding-left: 280px;
    padding-bottom: 200px;
  }
  @include desktop {
    padding-bottom: 465px;
  }
  &__title {
    @include title2($darkcolor);
    line-height: 38px;
    @include tablet {
      @include title1($darkcolor);
      width: 420px;
    }
  }
  &__button {
    @include button;
    margin-top: 24px;
    margin-bottom: 64px;
  }
}
