.header {
  background-color: yellow;
  width: 100%;
  height: 100vh;
}
.menu {
  position: sticky;
  top: 0;
  height: 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 1.188em; /* 19px */
  &__burger {
    margin: auto auto;
    &--img {
      width: 1.563em;
      height: 1.563em;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 215px;
  background-color: aquamarine;
}
