.send {
  height: 350px;
  background-color: $lightcolor;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    height: 400px;
  }

  &__img {
    height: 120px;
    width: 120px;
    margin-top: 46px;
    margin-bottom: 12px;
  }
  &__title {
    @include title2($secundarycolor-1);
    @include tablet {
      @include subtitle1($secundarycolor-1);
    }
    @include desktop {
      @include title1($secundarycolor-1);
    }
  }

  &__text {
    @include paragraph2($secundarycolor-1);
    margin-top: 10px;
    margin-bottom: 20px;
    @include desktop {
      @include paragraph1($secundarycolor-1);
    }
  }

  &__link {
    @include link1;
  }
}
