.send {
  height: 350px;
  background-color: $lightcolor;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    height: 120px;
    width: 120px;
    margin-top: 46px;
    margin-bottom: 12px;
  }
  &__title {
    @include title2($secundarycolor-1);
  }

  &__text {
    @include paragraph2($secundarycolor-1);
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__link {
    @include link1;
  }
}
